################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/01a24634-3169-4e6f-aed4-bdbb63002e73.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/acab600c-b758-4b60-ab65-864928b53bb6.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/89476e6d-a160-490f-b833-69d615f2386f.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/bca9b7d3-3d4d-4c20-82f2-2dd90499e361.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/cb7d48c0-c94b-4115-a8c3-9627d298ede6.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/29ce2620-75af-4f30-9f0a-85444eca0369.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/508576ab-11bc-4677-a4c7-0d3c0e631d62.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/5c2cfe59-f598-43ee-820c-a1d3fd5daf0a.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/c64fedbe-cfc6-4b02-9dcb-d50b713419a5.vsidx
*.vsidx
