################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/01a24634-3169-4e6f-aed4-bdbb63002e73.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/acab600c-b758-4b60-ab65-864928b53bb6.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/89476e6d-a160-490f-b833-69d615f2386f.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/bca9b7d3-3d4d-4c20-82f2-2dd90499e361.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/cb7d48c0-c94b-4115-a8c3-9627d298ede6.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/4dab4ab1-014b-448a-8530-fdaf3a72695a.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/e69a618f-8755-4bca-80aa-259e5ff5ad34.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/00c7e2d7-27c6-4e1b-af2f-bfd55fdd0b16.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/274c52fa-647e-49f2-a8d1-fbafaa43d89b.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/483a676f-b072-4f70-a234-391556f098aa.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/bd979309-0617-498c-926b-17bad08152ac.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/e6c3ce5c-5a9e-43ba-bd17-80274220cbdd.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/01426839-16c1-4257-a01e-bb157cf2dab8.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/045bf1fc-a303-44f7-8a36-b6ed6d33e2c1.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/18bd116c-de4f-4edb-9e21-6e8b280d6882.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/c1a975ed-3a48-4636-a05f-d483b0bc89f2.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/fec9520b-a500-4c58-826c-3a27afe8eac2.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex
/.vs/BoletoBusMaMonolitica/FileContentIndex/10126433-01a8-42f9-80e2-68c7c708bffa.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/4336913f-79d8-489f-b5fb-6d52d7888363.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/908c9c7a-372b-4590-981e-cbc20300cdab.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/b686b057-3e35-4bd6-8799-f4985e6eea29.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/4eec610c-1805-46e6-9c07-1e228771ed8b.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/861769bf-e38c-45f6-bb85-42b8e4f46a0b.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/e1dc93bf-93a2-4b73-b3cb-6c2605c09d15.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/266c63c3-b026-488d-b17e-4307807f5bd1.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/6e27c32c-b6c9-4474-8be8-cf0fa226f316.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/81dcae5d-6c63-4726-8210-84445b3d77e3.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/e0200656-1606-4843-a5df-5f5098273110.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/e420845c-c9f4-46c6-a8e1-92750618ae59.vsidx
