################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/01a24634-3169-4e6f-aed4-bdbb63002e73.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/acab600c-b758-4b60-ab65-864928b53bb6.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/89476e6d-a160-490f-b833-69d615f2386f.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/bca9b7d3-3d4d-4c20-82f2-2dd90499e361.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/cb7d48c0-c94b-4115-a8c3-9627d298ede6.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/4dab4ab1-014b-448a-8530-fdaf3a72695a.vsidx
/.vs/BoletoBusMaMonolitica/FileContentIndex/e69a618f-8755-4bca-80aa-259e5ff5ad34.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/00c7e2d7-27c6-4e1b-af2f-bfd55fdd0b16.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/274c52fa-647e-49f2-a8d1-fbafaa43d89b.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/483a676f-b072-4f70-a234-391556f098aa.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/bd979309-0617-498c-926b-17bad08152ac.vsidx
/BoletoBusMaMonolitica/.vs/BoletoBusMaMonolitica/FileContentIndex/e6c3ce5c-5a9e-43ba-bd17-80274220cbdd.vsidx
